<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 4px;
        }
    </style>
</head>
<body>
    <a href="/panel">Вернуться к меню</a><hr>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Статус</th>
              </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user[0]}}</td>
                    <td>{{user[2]}}</td>
                    <td>{{user[3]}}</td>
                    {% if user[3] == 'user' %}
                        <td><button><a href="/status?id={{user[0]}}&type=admin">Менят статус</a></button></td>
                    {% elif user[3] == 'admin' %}
                        <td><button><a href="/status?id={{user[0]}}&type=user">Менят статус</a></button></td>
                    {% else %}
                        <td><button disabled>Нельза менят статус</td>
                    {% endif %}
                    {% if user[3] == 'superadmin' %}
                        <td><button disabled>Нельза удалить</td>
                    {% else %}
                    <td><button><a href="/delete?id={{user[0]}}">Удалить</a></button></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>